.sidebar {
  width: 20%;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  border-right: 1px solid #d8d8d8;
}

.sidebar__item {
  font-size: 22px;
  color: #525252;
  cursor: pointer;
  display: block;
  margin-bottom: 15px;
}

.sidebar__item:hover {
  color: #ea5959;
}
